# SSL cert (rahasia)
# SSL & Certbot
infra/proxy/certbot/
infra/proxy/certbot/conf/live/
infra/proxy/certbot/conf/archive/
infra/proxy/certbot/conf/accounts/

# env
.env

# docker volume data
**/pgdata
**/grafana-data
