services:
  postgres:
    image: postgres:15
    container_name: db-infra
    restart: always
    environment:
      POSTGRES_USER: db_infra
      POSTGRES_PASSWORD: db_infra123
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - web

volumes:
  pgdata:


networks:
  web:
    external: true
