services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    restart: always
    ports:
      - "9090:9090"
    networks:
      - web

  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: always
    ports:
      - "3001:3000"
#    environment:
#      - GF_SERVER_ROOT=https://monitoring.bybi.web.id
#      - GF_SECURITY_ALLOW_EMBEDDING=true
#      - GF_SECURITY_COOCKIE_SAMESITE=none
#      - GF_SECURITY_COOKIE_SECURE=true
#      - GF_SERVER_DOMAIN=https://monitoring.bybi.web.id
#      - GF_SERVER-SERVE_FROM_SUB_PATH=false
    volumes:
        - ./grafana/grafana.ini:/etc/grafa/grafana.ini
    networks:
      - web

networks:
  web:
    external: true
